<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>

    <h2>Cadastro ca<h2>
    <% data.forEach(function(details) { %>
    <form action="/cadastroProdutos/<%=  details.usuario_id  %>" method="POST">
        <input type="text" placeholder="Nome" name="nome"><br/>
        <input type="text" placeholder="descricao" name="descricao"><br/>
        <input type="text" placeholder="preco" name="preco"><br/>
        <!-- <input type="text" value="<%= details.usuario_id %>" name="usuario_id"> -->
        <button type="submit">Submit</button>
    </form> 
    <% }) %>
</body>
</html>