<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>

    <h2>Registrar<h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="Nome" name="nome"><br/>
        <input type="text" placeholder="Sobrenome" name="sobrenome"><br/>
        <input type="text" placeholder="cpf" name="cpf"><br/>
        <input type="text" placeholder="e-mail" name="e-mail"><br/>
        <input type="text" placeholder="endereco" name="endereco"><br/>
        <button type="submit">Submit</button>
    </form> 

</body>
</html>